


#top-bar{
    position: relative;
    left: 0;
    width: 100vw;
    height: 5vh;
    background-color: black;
}

#middle{
    margin: 0;
    display:flex;
    width: 100vw;
    height: 90vh;
    background-color: black;
    border: 0.1vw solid white;
    box-sizing: border-box;
}




#search-panel{
    margin: 0;
    padding: 0;
    width: 15vw;
    height: 100%;
    display: list-item;
    background-color: black;
    border-right: 0.1vw solid white;
    box-sizing: border-box;
    line-height: 0;
}


.search-box{
    width: 100%;
    height: 3vh;
    font-size: 2vh;
    background-color: black;
    border-bottom: 0.1vw solid white;
    box-sizing: border-box;
    resize: none;
    box-shadow: none;
    color: white;
    outline: none;
    margin: 0;
    padding: 0;
    
}

#result-list{
    width: 100%;
    background-color: black;
    overflow-y: auto;
    height: 86.8vh;
    margin: 0;
    padding: 0;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 0.3vw;
    height: 0.3vw;
    }
    
    ::-webkit-scrollbar-track {
    border-left: 0.1vw solid white;
    }
    
    ::-webkit-scrollbar-thumb {
    background: white;  
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: green;
    }

.result-item{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    color: white;
    background-color: black;
    border-bottom: 0.1vw solid white;
    box-sizing: border-box;
    padding: 0.5vw;
    box-sizing: border-box;
}



.result-title{
    cursor:default;
    font-size: 2vh;
    width: 100%;
    line-height: 2vh;
}

.result-sub-title{
    cursor:default;
    font-size: 1.5vh;
    width: 100%;
}

.add-button{
    cursor: pointer;
    content: url("res/icon_X.svg");
    transform: rotate(45deg);
    height: 1vw;
    width: 1vw;
}

.add-button:hover{
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(90deg) saturate(600%) contrast(0.8);
}

#map{
    width: 70vw;
    height: 100%;
    background-color: black;
    box-sizing: border-box;
}


.color-picker{
    width: 100%;
}

#layer-panel{
    display:flexbox;
    width: 15vw;
    height: 100%;
    background-color: black;
    padding: 0.5vw;
    border-left: 0.1vw solid white;

    box-sizing: border-box;

    overflow: auto;
    
}


.layer-container{
    box-sizing: content-box;
    display: list-item;
    list-style: none;
    margin-left: 0.5vw;
    padding: 0;
    border-left: 0.1vw solid white;
    
}
.layer-container:hover{
    border-left: 0.1vw solid green;
}


.layer-container-selected{
    box-sizing: content-box;
    display: list-item;
    list-style: none;
    margin-left: 0.5vw;
    padding: 0;
    border-left: 0.1vw solid green;
}


.layer{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    color: white;
    background-color: black;
    box-sizing: border-box;
    padding: 0.5vw;
    margin-bottom: 1vw;
    
    border: 0.1vw solid white;
    border-left: 0vw solid white;
}

.layer-selected{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    color: white;
    background-color: black;
    box-sizing: border-box;
    padding: 0.5vw;
    margin-bottom: 1vw;

    border: 0.1vw solid green;
    border-left: 0vw solid white;
    

}

.layer:hover{
    border: 0.1vw solid green;
    border-left: 0vw solid white;
}




.color-picker{
    opacity: 0;
    width: 2.5vw;
    cursor: pointer;
}

.hexagon{
    position: absolute;
    visibility: visible;
    height: 3.5vh;
    display:block;
    opacity: 0.8;
    font-size: 5vh;
    margin-right: 0.5vw;
    margin-bottom: 1.5vw;
    pointer-events: none;
}


.layer-title{
    width: 65%;
    user-select: none;
}

.layer-title-main{
    font-size: 2vh;
}

.layer-title-sub{
    font-size: 1.5vh;
}


.layer-toggle{
    background-image: url('res/eye_on.svg');
    background-position:center;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 1.5vw;
    height: 1.5vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    
    
}



.layer-toggle:hover{
    background-image: url('res/eye_on_hover.svg');
}


.layer-toggle-off{
    background-image: url('res/eye_off.svg');
    background-position:center;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 1.5vw;
    height: 1.5vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}


.layer-toggle-off:hover{
    background-image: url('res/eye_off_hover.svg');
}




.layer-cross{
    height: 1vw;
    width: 1vw;
    cursor: pointer;
    color: white;
    user-select: none;
    padding-bottom: 3vh;

}

.layer-cross:hover{
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(90deg) saturate(600%) contrast(0.8);
}

#bottom-bar{
    display: flex;
    position: relative;
    left: 0;
    width: 100%;
    height: 5vh;
    background-color: black;
    border-bottom: 0.1vw solid white;
    border-left: 0.1vw solid white;
    border-right: 0.1vw solid white;
    box-sizing: border-box;
    
}

#bottom-fill{
    width: 85%;
}

#layer-tool-bar{
    display: none;
    width: 15vw;
    position: relative;
    border-left: 0.1vw solid white;
    box-sizing: border-box;

}

.explode-button{
    content: url('res/explosion.svg');
    cursor: pointer;
    width: 3vh;
    height: 3vh;
    margin: 0.5vw;

}


.explode-button:hover{
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(90deg) saturate(600%) contrast(0.8);
}


.dark-body{
    margin: 0;
    display: block;
    justify-content: center;
    width: 100vw;
    background: black;
    overflow-y: hidden;
    overflow-x: hidden;
}   