





#top-bar{
    display: flex;
    position: relative;
    align-items: center;
    left: 0;
    width: 100vw;
    height: 5vh;
    background-color: black;
    justify-content: center;
}


.title{
    margin-top: 0.8vh;
    height: 3vh;
    width: 12vh;
    color: white;
    user-select: none;
}

#middle{
    margin: 0;
    display:flex;
    width: 100vw;
    height: 90vh;
    background-color: black;
    box-sizing: border-box;
}




#search-panel{
    margin: 0;
    padding: 0;
    width: 15vw;
    height: 100%;
    display: list-item;
    border: 0.2vh solid white;
    box-sizing: border-box;
    line-height: 0;
}

.search-box-container{
    display: flex;
    width: 100%;
    height: 3vh;
    font-size: 2vh;
    background-color: black;
    border-bottom: 0.2vh solid white;
    box-sizing: border-box;
    resize: none;
    box-shadow: none;
    color: white;
    outline: none;
    margin: 0;
    padding: 0;
    align-items: center;
    
}
.search-box{
    height: 2.8vh;
    width: 100%;
    font-size: 2vh;
    background-color: black;
    box-sizing: border-box;
    resize: none;
    box-shadow: none;
    color: white;
    outline: none;
    margin: 1vh;
    padding: 0;
    border: none;
    
}

.clear-search-button{
    cursor: pointer;
    width: 1.5vh;
    height: 1.5vh;
    margin: 1vh;
}

.clear-search-button:hover{
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(330deg) saturate(600%) contrast(0.8);
}


#result-list{
    width: 100%;
    overflow-y: auto;
    height: 86.8vh;
    margin: 0;
    padding: 0;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 0.3vw;
    height: 0.3vw;
    }
    
    ::-webkit-scrollbar-track {
    border-left: 0.2vh solid white;
    }
    
    ::-webkit-scrollbar-thumb {
    background: white;  
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: green;
    }

.result-item{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    color: white;
    background-color: black;
    border-bottom: 0.2vh solid white;
    box-sizing: border-box;
    padding: 0.5vw;
    box-sizing: border-box;
}



.result-title{
    cursor:default;
    font-size: 2vh;
    width: 100%;
    line-height: 2vh;
}

.result-sub-title{
    cursor:default;
    font-size: 1.5vh;
    width: 100%;
}

.add-button{
    cursor: pointer;
    content: url("res/icon_X.svg");
    transform: rotate(45deg);
    height: 2vh;
    width: 2vh;
    margin: 0.5vh;
}

.add-button:hover{
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(90deg) saturate(600%) contrast(0.8);
}

#map{
    width: 70vw;
    height: 100%;
    background-color: black;
    box-sizing: border-box;
    border-top: 0.2vh solid white;
    border-bottom: 0.2vh solid white;

}


.color-picker{
    width: 100%;
}

#layer-panel{
    display:flexbox;
    width: 15vw;
    height: 100%;
    background-color: black;
    padding: 1vh;
    border: 0.2vh solid white;

    box-sizing: border-box;

    overflow: auto;
    
}


.layer-container{
    box-sizing: content-box;
    display: list-item;
    list-style: none;
    margin-left: 1vh;
    margin-top: 1vh;
    padding-top: 0;
    border-left: 0.2vh solid white;
    
}
.layer-container:hover{
    border-left: 0.2vh solid green;
}


.layer-container-selected{
    box-sizing: content-box;
    display: list-item;
    list-style: none;
    margin-left: 1vh;
    margin-top: 1vh;
    padding: 0;
    border-left: 0.2vh solid green;
}


.layer{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    color: white;
    background-color: black;
    box-sizing: border-box;
    padding: 1vh;
    margin-bottom: 1vh;
    
    border: 0.2vh solid white;
    border-left: 0vw solid white;
}

.layer-selected{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    color: white;
    background-color: black;
    box-sizing: border-box;
    padding: 1vh;
    margin-bottom: 1vh;

    border: 0.2vh solid green;
    border-left: 0vw solid white;
    

}

.layer:hover{
    border: 0.2vh solid green;
    border-left: 0vw solid white;
}




.color-picker{
    opacity: 0;
    width: 5vh;
    cursor: pointer;
}

.hexagon{
    position: absolute;
    visibility: visible;
    height: 3.5vh;
    display:block;
    opacity: 0.8;
    font-size: 5vh;
    margin-right: 1vh;
    margin-bottom: 4vh;
    pointer-events: none;
}


.layer-title{
    width: 75%;
    user-select: none;
}

.layer-title-main{
    font-size: 2vh;
}

.layer-title-sub{
    font-size: 1.5vh;
}


.layer-toggle{
    background-image: url('res/eye_on.svg');
    background-position:center;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 3vh;
    height: 3vh;
    margin-right: 1vh;
    margin-left: 1vh;
    
    
}



.layer-toggle:hover{
    background-image: url('res/eye_on_hover.svg');
}


.layer-toggle-off{
    background-image: url('res/eye_off.svg');
    background-position:center;
    background-repeat: no-repeat;
    cursor: pointer;
    width: 3vh;
    height: 3vh;
    margin-right: 1vh;
    margin-left: 1vh;
}


.layer-toggle-off:hover{
    background-image: url('res/eye_off_hover.svg');
}




.layer-cross{
    height: 1.5vh;
    width: 1.5vh;
    cursor: pointer;
    color: white;
    user-select: none;
    padding-bottom: 3vh;

}

.layer-cross:hover{
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(330deg) saturate(600%) contrast(0.8);
}


.child-count{
    position: fixed;
    font-size: 2vh;
    pointer-events: none;
    margin-top: 4.5vh;
    margin-left: 0.2vh;
}

#bottom-bar{
    display: flex;
    position: relative;
    left: 0;
    width: 100%;
    height: 5vh;
    background-color: black;
    box-sizing: border-box;
    
}

#bottom-fill{
    width: 85%;
}

#layer-tool-bar{
    display: none;
    width: 15vw;
    position: relative;
    box-sizing: border-box;

}

.explode-button{
    content: url('res/explosion.svg');
    cursor: pointer;
    width: 3vh;
    height: 3vh;
    margin: 1vh;

}


.explode-button:hover{
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(90deg) saturate(600%) contrast(0.8);
}


.dark-body{
    margin: 0;
    display: block;
    justify-content: center;
    width: 100vw;
    background: black;
    overflow-y: hidden;
    overflow-x: hidden;
}   





.vertical-menu{
    display: flex;
    visibility: hidden;
    position: absolute;
    align-items: center;
    justify-content:space-around;
    bottom: 0vh;
    width: 100vw;
    height: 5vh;
    background-color: black;
    border-top: 0.2vh solid white;
    z-index: 1;
}



.v-menu-button{
    width: 4vh;
    height: 4vh;
    border-bottom: 0.2vh solid black;
}

.v-menu-button-active{
    width: 4vh;
    height: 4vh;
    border-bottom: 0.2vh solid white;
}


@media (max-aspect-ratio: 1/1) {
    .vertical-menu{
        visibility: visible;
    }
    #search-panel{
        width: 100vw;
        display: none;
    }

    #map{
        width: 100vw;
        border: 0.2vh solid white;
        
    }

    #layer-panel{
        width: 100vw;
        display: none;
    }



    #bottom-fill{
        width: 0;
    }

    #bottom-bar{
        height: 10vh;
    }
  }