


#top-bar{
    position: relative;
    left: 0;
    width: 100vw;
    height: 5vh;
    background-color: black;
}

#middle{
    margin: 0;
    display:flex;
    width: 100vw;
    height: 90vh;
    background-color: black;
}


#bottom-bar{
    position: relative;
    left: 0;
    width: 100%;
    height: 5vh;
    background-color: black;
}

#search-panel{
    margin: 0;
    width: 15vw;
    height: 100%;
    display:list-item;
    
    background-color: black;
    border: 0.1vw solid white;
    box-sizing: border-box;
}


.search-box{
    width: 100%;
    font-size: 24px;
    background-color: black;
    border-bottom: 0.1vw solid white;
    box-sizing: border-box;
    resize: none;
    box-shadow: none;
    color: white;
    outline: none;
    
}

#result-list{
    width: 100%;
    background-color: black;
    box-sizing: border-box;
}

.result-item{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 3vh;
    color: white;
    background-color: black;
    border-bottom: 0.1vw solid white;
    box-sizing: border-box;
    padding: 0.5vw;
    box-sizing: border-box;
}



.result-title{
    cursor:default;
    font-size: 24px;
    width: 100%;
}

.add-button{
    cursor: pointer;
    content: url("res/icon_X.svg");
    transform: rotate(45deg);
    height: 0.5vw;
    width: 0.5vw;
}

.add-button:hover{
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(90deg) saturate(600%) contrast(0.8);
}

#map{
    width: 70vw;
    height: 100%;
    background-color: black;
    border-top: 0.1vw solid white;
    border-bottom: 0.1vw solid white;
    box-sizing: border-box;
}


.color-picker{
    width: 100%;
}

#layer-panel{
    display:flexbox;
    width: 15vw;
    height: 100%;
    background-color: black;
    padding: 1vw;
    border: 0.1vw solid white;
    box-sizing: border-box;
    
}


.layer{
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 6vh;
    color: white;
    background-color: black;
    border: 0.1vw solid white;
    box-sizing: border-box;
    padding: 0.5vw;
    margin-bottom: 1vw;
    box-sizing: border-box;
}

.layer-selected{
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 6vh;
    color: white;
    background-color: black;
    border: 0.1vw solid green;
    box-sizing: border-box;
    padding: 0.5vw;
    margin-bottom: 1vw;
    box-sizing: border-box;

}

.layer:hover{
    border: 0.1vw solid rgb(20, 200, 20);
}


.color-picker{
    opacity: 0;
    width: 2.5vw;
}

.hexagon{
    position: absolute;
    visibility: visible;
    height: 3.5vh;
    cursor: pointer;
    display:block;
    opacity: 0.8;
    font-size: 60px;
    margin-right: 0.5vw;
    margin-bottom: 1.5vw;
    pointer-events: none;
}


.layer-title{
    cursor: pointer;
    font-size: 24px;
    width: 65%;
    user-select: none;
}


.layer-toggle{
    width: 1vw;
    height: 1vw;
    background: white;
    border-radius: 50%;
    border: 0.1vw solid white;
    margin: 0.5vw;
    
}

.layer-toggle:hover{
    border: 0.1vw solid green;
}

.layer-cross{
    height: 0.5vw;
    width: 0.5vw;
    cursor: pointer;
    color: white;
    user-select: none;
    padding-bottom: 3vh;
    
    
    

}
.layer-cross:hover{
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
}



.dark-body{
    margin: 0;
    display: block;
    justify-content: center;
    width: 100vw;
    background: black;
    overflow-y: hidden;
    overflow-x: hidden;
}   